body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#logo .title h2 {
    background-color: rgb(143, 142, 142);
    padding: 30px 0px 20px 0px;
    color: rgb(255, 255, 255);
    margin-left: 60px;
    width: 93%;
}

.image img {
    width: 20%;
    height: auto;
    margin: -20px;
    margin-left: 60px;
}

.context p {
    margin-left: 60px;
    margin-right: 60px;
    text-justify: auto;
}

.contact {
    font-weight: bold;
    margin: 0px 60px 0px 60px;
}

.table h3 {
    margin-left: 60px;
}

table {
    border-collapse: collapse;
    width: 93.5%;
    margin-left: 60px;
    margin-right: 60px;
}

td,
th {
    border: 1px solid;
}

.footer {
    /* margin: 0 20px; */
    padding: 13px 0px;
    background-color: rgb(143, 142, 142);
    width: 100%;
}

.images img {
    margin-top: 10px;
    padding: 8px;
    width: 50px;
    background-color: white;
}